#center {
    width: 50%;
    margin: auto;
}

.round {
    height: 150px;
    width: 150px;
    margin-top: 150px;
    border: 1px solid #ffc107;
    border-radius: 150px;
    background: #ffc107;
    box-shadow: 0 5px 5px rgba(31,28,28,0.73);
}

.left-eye {
    height: 20px;
    width: 20px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 20px;
    background: #5c3a13;
    border: 1px solid black;
}